<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @{
        string action = ViewContext.RouteData.Values["action"].ToString();
        string controller = ViewContext.RouteData.Values["controller"].ToString();
    }
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Хотел Борѝка", MVC.Home.ActionNames.Index, MVC.Home.Name, new { area = "" }, new { @class = "navbar-brand", target = "_blank" })
            </div>
            @if (Request.IsAuthenticated)
            {
                <div class="navbar-collapse collapse pull-right">
                    <ul class="nav navbar-nav">
                        <li class="@(controller.Equals(MVC.Admin.Room.Name) ? "active" : "")">@Html.ActionLink("Стаи", MVC.Admin.Room.ActionNames.List, MVC.Admin.Room.Name, new { area = MVC.Admin.Name }, null)</li>
                        <li class="@(controller.Equals(MVC.Admin.Album.Name) ? "active" : "")">@Html.ActionLink("Галерия", MVC.Admin.Album.ActionNames.List, MVC.Admin.Album.Name, new { area = MVC.Admin.Name }, null)</li>
                        <li class="@(controller.Equals(MVC.Admin.Reservation.Name) ? "active" : "")">@Html.ActionLink("Резервации", MVC.Admin.Reservation.ActionNames.Index, MVC.Admin.Reservation.Name, new { area = MVC.Admin.Name }, null)</li>
                        <li class="@(action.Equals(MVC.Admin.Account.ActionNames.ChangePassword) ? "active" : "")">@Html.ActionLink("Смяна на парола", MVC.Admin.Account.ActionNames.ChangePassword, MVC.Admin.Account.Name, new { area = MVC.Admin.Name }, null)</li>
                        <li>@Html.ActionLink("Изход", MVC.Admin.Account.ActionNames.LogOff, MVC.Admin.Account.Name, new { area = MVC.Admin.Name }, null)</li>
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="container body-content">
        <div id="admin-wrapper">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Хотел Борѝка</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            $('a.delete-link').click(function (e) {
                var answer = confirm("Are you sure you want to continue?")
                if (!answer) {
                    e.preventDefault();
                }
            });
        });
    </script>
</body>
</html>
