@model PissHotel.Areas.Admin.Models.RoomVM

<form class="form-horizontal" role="form" method="post">
    @Html.HiddenFor(m => m.RoomId)
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label class="col-md-2 control-label">@Html.LabelFor(m => m.TitleBG)</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.TitleBG, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">@Html.LabelFor(m => m.TitleEN)</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.TitleEN, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">@Html.LabelFor(m => m.Price)</label>
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Запиши</button>
        </div>
    </div>
    @Html.ValidationSummary()
</form>

@if (Model.Pictures != null)
{
    <div class="form-group">
        @foreach (var pic in Model.Pictures)
        {
            string src = PissHotel.Helpers.Constants.RoomsImagesDir + Model.RoomId + "/" + pic;
            //152 215
            <div class="col-md-3" style="margin-bottom: 10px;">
                <img src="@src" width="135" height="100" /> <br />
                @Html.ActionLink("Изтрий", MVC.Admin.Room.ActionNames.DeleteFile, MVC.Admin.Room.Name, new { area = MVC.Admin.Name, roomId = Model.RoomId, fileName = pic }, new { @class = "delete-link" })
            </div>
        }
    </div>
}

<div style="clear:both;"></div>

@using (Html.BeginForm(MVC.Admin.Room.ActionNames.AddFile, MVC.Admin.Room.Name, new { roomId = Model.RoomId }, FormMethod.Post, new { @class = "form-horizontal", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-8">
            <input type="file" name="file" />
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-default">Прикачи</button>
        </div>
    </div>
}
