@model List<PissHotel.Models.Room>
           
<div class="jumbotron">
    @if (Model != null)
    {
        @Html.ActionLink("Добави нова стая", MVC.Admin.Room.ActionNames.Create, MVC.Admin.Room.Name, new { area = MVC.Admin.Name }, new { @class = "btn btn-default" })
        foreach (var room in Model)
        {
            <h3>
                @room.Title - @room.Price лв. 
                (
                @Html.ActionLink("Редакция", MVC.Admin.Room.ActionNames.Edit, MVC.Admin.Room.Name, new { area = MVC.Admin.Name, id = room.RoomId }, null)
                |                
                @Html.ActionLink("Изтрий", MVC.Admin.Room.ActionNames.Delete, MVC.Admin.Room.Name, new { area = MVC.Admin.Name, id = room.RoomId }, new { @class = "delete-link" })
                )
            </h3>
        }
    }
</div>
