@{
    ViewBag.Title = Global.Contact;
}

<div class="jumbotron">
    <div class="row">
        <div class="col-xs-6 text-right">
            <p><b>@Global.Contact:</b></p>

            <p style="font-size: 16px;"><b>@Html.Raw(Global.ContactMain)</b></p>

            <p style="font-size: 16px;"><b>@Global.ForReservations @Html.ActionLink(Global.Here, MVC.Home.ActionNames.Reservations, MVC.Home.Name)</b></p>
        
            <iframe src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d757414.5906177699!2d23.521409285379388!3d42.136359556889836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e0!4m5!1s0x40aa868332a0a5a3%3A0x300a01269bf4d70!2z0KHQvtGE0LjRjy3Qs9GA0LDQtA!3m2!1d42.7570109!2d23.4504683!4m5!1s0x14ac90b14acd4ff1%3A0xd2510a0fb86dbc57!2z0KDQsNCy0L3QvtCz0L7RgA!3m2!1d41.9508034!2d24.368058599999998!5e0!3m2!1sbg!2sbg!4v1418677049078" width="495" height="360" frameborder="0" style="border:0"></iframe>
        </div>

        <div class="col-xs-6">
            <img src="@Links.Content.img.contact_jpg" />
        </div>
    </div>
</div>