@{
    ViewBag.Title = Global.Holidays;
}

<div class="jumbotron">
    <h3>@Global.StPeterHeader</h3>
    <p>@Global.StPeterBody</p>
    <p class="text-center">
        @{string imgSrc = Constants.HolidaysImagesDir + "tra1.jpg";}
        <a href="@imgSrc" style="background-image: url(@imgSrc); display:inline-block;height:152px; width: 215px;" data-lightbox="gallery"></a>
        @{imgSrc = Constants.HolidaysImagesDir + "tra2.jpg";}
        <a href="@imgSrc" style="background-image: url(@imgSrc); display:inline-block;height:152px; width: 215px;" data-lightbox="gallery"></a>
    </p>

    <h3>@Global.StIlijaHeader</h3>
    <p>@Global.StIlijaBody</p>
    <p class="text-center">
        @{imgSrc = Constants.HolidaysImagesDir + "tra3.jpg";}
        <a href="@imgSrc" style="background-image: url(@imgSrc); display:inline-block;height:152px; width: 215px;" data-lightbox="gallery"></a>
        @{imgSrc = Constants.HolidaysImagesDir + "tra4.jpg";}
        <a href="@imgSrc" style="background-image: url(@imgSrc); display:inline-block;height:152px; width: 215px;" data-lightbox="gallery"></a>
    </p>

    <h3>@Global.YouthHeader</h3>
    <p>@Global.YouthBody</p>
    <p class="text-center">
        @{imgSrc = Constants.HolidaysImagesDir + "tra5.jpg";}
        <a href="@imgSrc" style="background-image: url(@imgSrc); display:inline-block;height:152px; width: 215px;" data-lightbox="gallery"></a>
        @{imgSrc = Constants.HolidaysImagesDir + "tra6.jpg";}
        <a href="@imgSrc" style="background-image: url(@imgSrc); display:inline-block;height:152px; width: 215px;" data-lightbox="gallery"></a>
    </p>

    <h3>@Global.FolkloreHeader</h3>
    <p>@Global.FolkloreBody</p>
    <p class="text-center">
        @{imgSrc = Constants.HolidaysImagesDir + "tra7.jpg";}
        <a href="@imgSrc" style="background-image: url(@imgSrc); display:inline-block;height:152px; width: 215px;" data-lightbox="gallery"></a>
        @{imgSrc = Constants.HolidaysImagesDir + "tra8.jpg";}
        <a href="@imgSrc" style="background-image: url(@imgSrc); display:inline-block;height:152px; width: 215px;" data-lightbox="gallery"></a>
    </p>

    <h3>@Global.PotatoHeader</h3>
    <p>@Global.PotatoBody</p>
    <p class="text-center">
        @{imgSrc = Constants.HolidaysImagesDir + "tra9.jpg";}
        <a href="@imgSrc" style="background-image: url(@imgSrc); display:inline-block;height:152px; width: 215px;" data-lightbox="gallery"></a>
        @{imgSrc = Constants.HolidaysImagesDir + "tra10.jpg";}
        <a href="@imgSrc" style="background-image: url(@imgSrc); display:inline-block;height:152px; width: 215px;" data-lightbox="gallery"></a>
    </p>

    <h3>@Global.StElenaHeader</h3>
    <p>@Global.StElenaBody</p>
    <p class="text-center">
        @{imgSrc = Constants.HolidaysImagesDir + "tra11.jpg";}
        <a href="@imgSrc" style="background-image: url(@imgSrc); display:inline-block;height:152px; width: 215px;" data-lightbox="gallery"></a>
        @{imgSrc = Constants.HolidaysImagesDir + "tra12.jpg";}
        <a href="@imgSrc" style="background-image: url(@imgSrc); display:inline-block;height:152px; width: 215px;" data-lightbox="gallery"></a>
    </p>
</div>
