@{
    ViewBag.Title = Global.Holidays;
}

<div class="jumbotron">
    <h3>@Global.StPeterHeader</h3>
    <p>@Global.StPeterBody</p>
    <p class="text-center">
        @{string imgSrc = Links.Content.img.tra1_jpg;}
        <a href="@imgSrc" style="background-image: url(@imgSrc);" class="gallery-link" data-lightbox="gallery"></a>
        @{imgSrc = Links.Content.img.tra2_jpg;}
        <a href="@imgSrc" style="background-image: url(@imgSrc);" class="gallery-link" data-lightbox="gallery"></a>
    </p>

    <h3>@Global.StIlijaHeader</h3>
    <p>@Global.StIlijaBody</p>
    <p class="text-center">
        @{imgSrc = Links.Content.img.tra3_jpg;}
        <a href="@imgSrc" style="background-image: url(@imgSrc);" class="gallery-link" data-lightbox="gallery"></a>
        @{imgSrc = Links.Content.img.tra4_jpg;}
        <a href="@imgSrc" style="background-image: url(@imgSrc);" class="gallery-link" data-lightbox="gallery"></a>
    </p>

    <h3>@Global.YouthHeader</h3>
    <p>@Global.YouthBody</p>
    <p class="text-center">
        @{imgSrc = Links.Content.img.tra5_jpg;}
        <a href="@imgSrc" style="background-image: url(@imgSrc);" class="gallery-link" data-lightbox="gallery"></a>
        @{imgSrc = Links.Content.img.tra6_jpg;}
        <a href="@imgSrc" style="background-image: url(@imgSrc);" class="gallery-link" data-lightbox="gallery"></a>
    </p>

    <h3>@Global.FolkloreHeader</h3>
    <p>@Global.FolkloreBody</p>
    <p class="text-center">
        @{imgSrc = Links.Content.img.tra7_jpg;}
        <a href="@imgSrc" style="background-image: url(@imgSrc);" class="gallery-link" data-lightbox="gallery"></a>
        @{imgSrc = Links.Content.img.tra8_jpg;}
        <a href="@imgSrc" style="background-image: url(@imgSrc);" class="gallery-link" data-lightbox="gallery"></a>
    </p>

    <h3>@Global.PotatoHeader</h3>
    <p>@Global.PotatoBody</p>
    <p class="text-center">
        @{imgSrc = Links.Content.img.tra9_jpg;}
        <a href="@imgSrc" style="background-image: url(@imgSrc);" class="gallery-link" data-lightbox="gallery"></a>
        @{imgSrc = Links.Content.img.tra10_jpg;}
        <a href="@imgSrc" style="background-image: url(@imgSrc);" class="gallery-link" data-lightbox="gallery"></a>
    </p>

    <h3>@Global.StElenaHeader</h3>
    <p>@Global.StElenaBody</p>
    <p class="text-center">
        @{imgSrc = Links.Content.img.tra11_jpg;}
        <a href="@imgSrc" style="background-image: url(@imgSrc);" class="gallery-link" data-lightbox="gallery"></a>
        @{imgSrc = Links.Content.img.tra12_jpg;}
        <a href="@imgSrc" style="background-image: url(@imgSrc);" class="gallery-link" data-lightbox="gallery"></a>
    </p>
</div>
