@{
    ViewBag.Title = Global.Home;
}

<div class="jumbotron">
    <div class="row">
        <div class="col-xs-6">
            <h1>@Global.ApplicationName</h1>
            <p class="lead">@Global.ReservationsShort</p>
            <p><a href="@Url.Action(MVC.Home.ActionNames.Reservations)" class="btn btn-primary btn-lg">@Global.LearnMore &raquo;</a></p>
        </div>
        <div class="col-xs-6 text-center"><img src="@Links.Content.img.main_jpg" width="450" /></div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Global.Contact</h2>
        <p>@Html.Raw(Global.ContactMain)</p>
        <p><a class="btn btn-default" href="@Url.Action(MVC.Home.ActionNames.Contact)">@Global.LearnMore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Global.Rooms</h2>
        <p>@Global.RoomsShort</p>
        <p><a class="btn btn-default" href="@Url.Action(MVC.Home.ActionNames.Rooms)">@Global.LearnMore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Global.Holidays</h2>
        <p>@Global.StPeterHeader, @Global.StIlijaHeader, @Global.FolkloreHeader ...</p>
        <p><a class="btn btn-default" href="@Url.Action(MVC.Home.ActionNames.Holidays)">@Global.LearnMore &raquo;</a></p>
    </div>
</div>