@{
    ViewBag.Title = Global.Locality;
}

<div class="jumbotron">
    <p style="margin-bottom:20px; display:block; min-height:150px;"><img src="@Links.Content.img.ravn1_jpg" style="float:left; height:150px; margin-bottom:10px; margin-right: 10px;" />@Global.LocalityP1</p>
    <p style="margin-bottom:20px; display:block; min-height:150px;"><img src="@Links.Content.img.ravn2_jpg" style="float:left; height:150px; margin-bottom:10px; margin-right: 10px;" />@Global.LocalityP2</p>
    <p style="margin-bottom:20px; display:block; min-height:150px;"><img src="@Links.Content.img.ravn3_jpg" style="float:left; height:150px; margin-bottom:10px; margin-right: 10px;" />@Global.LocalityP3</p>
</div>
